MEEGO_MCP_URL="https://meego.larkoffice.com/mcp_server/v1"
MEEGO_MCP_TOKEN=""
MEEGO_PROJECT_KEY=""
LEGAL_BASE_URL="https://legal.bytedance.net"
LEGAL_APP_ID=""
LEGAL_APP_SECRET=""
LEGAL_DEFAULT_EMPLOYEE_ID=""
LEGAL_DEPARTMENT_ID=""
LEGAL_PRODUCT_ID=""
LEGAL_REVIEW_CATEGORY_CODE=""
LEGAL_AUTO_SUBMIT_ON_CREATE="false"
